.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  background-color: var(--gray-900);
}

header img {
  height: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
  color: var(--gray-100);
  line-height: 1.6;
  margin-right: 0.5rem;
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
  margin-right: 0.5rem;
}

.createdAndCompletedTasks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 46rem;
  align-items: center;
  margin-top: 1.5rem;
}

.taskBox {
  display: flex;
  align-items: center;
  width: 100%;
}
.taskBox:last-child {
  justify-content: flex-end;
}

.createdTasksCount {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.25rem;
  width: 100%;
  max-width: 1.4rem;
  border-radius: 8px;

  background-color: var(--gray-600);
}

.completedTasksCount {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.25rem;
  width: 100%;
  max-width: 3.5rem;
  border-radius: 8px;

  background-color: var(--gray-600);
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}
.tasks img {
  margin-bottom: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 46rem;
}
.todo input {
  height: 3.25rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--gray-600);
  color: var(--white);
  margin-right: 0.5rem;

  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
}

.todo button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.25rem;
  min-width: 5.625rem;
  padding: 1rem;
  background-color: var(--blue-500);
  color: var(--white);

  border: 0;
  border-radius: 0.5rem;
}
